/*
 * Conciliador.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using Conciliador.Standard;
using Conciliador.Standard.Utilities;
using Conciliador.Standard.Http.Request;
using Conciliador.Standard.Http.Response;
using Conciliador.Standard.Http.Client;
using Conciliador.Standard.Exceptions;

namespace Conciliador.Standard.Controllers
{
    public partial class AcessoController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static AcessoController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static AcessoController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new AcessoController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Todas as funcionalidades do sistema necessitam ter um token de autenticação para serem acessadas.
        /// Este endpoint
        /// </summary>
        /// <param name="username">Required parameter: Nome do usuário para acesso</param>
        /// <param name="password">Required parameter: Senha do seu usuário para acesso</param>
        /// <param name="clientId">Required parameter: Cliente Id recebido da Braspag na contratação do conciliador</param>
        /// <param name="clientSecret">Required parameter: Cliente Secret recebido da Braspag na contratação do conciliador</param>
        /// <return>Returns the string response from the API call</return>
        public string CreateGerarTokenAcesso(
                string username,
                string password,
                string clientId,
                string clientSecret)
        {
            Task<string> t = CreateGerarTokenAcessoAsync(username, password, clientId, clientSecret);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Todas as funcionalidades do sistema necessitam ter um token de autenticação para serem acessadas.
        /// Este endpoint
        /// </summary>
        /// <param name="username">Required parameter: Nome do usuário para acesso</param>
        /// <param name="password">Required parameter: Senha do seu usuário para acesso</param>
        /// <param name="clientId">Required parameter: Cliente Id recebido da Braspag na contratação do conciliador</param>
        /// <param name="clientSecret">Required parameter: Cliente Secret recebido da Braspag na contratação do conciliador</param>
        /// <return>Returns the string response from the API call</return>
        public async Task<string> CreateGerarTokenAcessoAsync(
                string username,
                string password,
                string clientId,
                string clientSecret)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/oauth/token");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "username", username ),
                new KeyValuePair<string, object>( "password", password ),
                new KeyValuePair<string, object>( "grant_type", "password" ),
                new KeyValuePair<string, object>( "client_id", clientId ),
                new KeyValuePair<string, object>( "client_secret", clientSecret )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields);

            //Custom Authentication to be added for authorization
            AuthUtility.AppendCustomAuthParams(_request);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 401)
                throw new APIException(@"The user credentials were incorrect", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 